body {background-color: #fff6b5 ;
font-family:"Book Antiqua", sans-serif;}

h1 {
	padding:25px;
    text-align: center;
    font-size: 48px;
}

table{
    border:2px solid #D29953;
    text-align:center;
}

table tr td{
    text-align:center;
    border: 1px solid #D29953;
    padding: 3px;
    font-size: 18px;
}

a{
    text-decoration:none;
}

td:hover{
    background-color:burlywood;
}

#bikeDiv{
    text-align:center;
    margin-right:auto;
    padding: 10px;
}

.headerBold{
    font-weight:bold;
}